$background: #FFFFFF;
$text_main: #1E1E1E;
$text_class: #569CD6;


@mixin set_button{
    height: 2em;
    //width: 20%;
    padding-left:auto;
    padding-right:auto;
    color: $text_main;
    background-color: $background;
    border: 1px solid $text_main;
    margin: 0.4em;
    cursor: pointer;
}

@mixin remove_default_btn{
    border: none;
    display: inline-block;
    text-decoration: none;
    background-color: $background;
    color: $text_main;
    font-size: 1em;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

@mixin btn_focus{
    outline: none;  
}

@mixin btn_active{
    color: $text_class;
}

*{
    font-family: Consola, monospace;
}
body{
    margin: 0;
    background-color: $background;
}
.main_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 2rem 2.5rem 2rem 1fr 1fr;

    .head_content{
        grid-column: 2/7; 
        grid-row: 2;       
        
        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .runner {
                color: $text_main;
            }

            .settings{
                cursor: pointer;

                img{
                    max-height: 1.4em;
                    min-width: 1.4em;
                }
                
                .dropdown{
                    display: none;
                    margin-top: 0.5em;
                    position: absolute;
                    //border: 1px solid $text_main;
                    z-index: 1;
                    right: 10%;
                    background-color: $background;

                    .set_btn{
                        @include set_button();
                    }
                    
                    .set_btn:focus{
                        @include btn_focus();
                    }

                    .set_btn:active{
                        @include btn_active();
                        border:1px solid $text_class;
                    }

                    .set_btn_dark{
                        @include set_button();
                        color: #FFFFFF;
                        background-color: #1E1E1E;
                        text-decoration: underline;
                        border: 1px solid #FFFFFF;
                    }

                    .set_btn_dark:focus{
                        @include btn_focus();
                    }

                    .set_btn_dark:active{
                        @include btn_active();
                        border:1px solid $text_class;
                    }

                    .set_btn_light{
                        @include set_button();
                        color: #1E1E1E;
                        background-color: #FFFFFF;
                        text-decoration: underline;
                        border: 1px solid #1E1E1E;
                    }

                    .set_btn_light:focus{
                        @include btn_focus();
                    }

                    .set_btn_light:active{
                        @include btn_active();
                        border:1px solid $text_class;
                    }

                    #space{
                        height: 1em;
                    }
                }                
            }

            .settings:hover .dropdown{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    #inner_content{
        grid-column: 2/7; 
        grid-row: 3;

        #mob_menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .runner {
                font-size: 1em;
                color: $text_main;
            }

            #menu_bar{
                
                cursor: pointer;

                img{
                    max-height: 1.4em;
                    min-width: 1.4em;
                }

                .dropdown{
                    display: none;
                    margin-top: 0.3em;
                    position: absolute;
                    //border: 1px solid $text_main;
                    z-index: 1;
                    right: 10%;
                    background-color: $background;

                    .mob_btn{
                        @include set_button()
                    }

                    .mob_btn:focus{
                        @include btn_focus()
                    }

                    .mob_btn:active{
                        @include btn_active()
                    }
                }
            }
            #menu_bar:hover .dropdown{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }                
        }
    }

    #menu_div{
        display: none;
    }

    #main_content{
        grid-column: 2/7; 
        grid-row: 4;

        p{
            font-size: 0.85rem;
        }

        #main_about{
            display: none;
        }        

        #main_contact{
            display: none;
        }
    }

    #main_works{
        display: none;
        grid-column: 1/8; 
        grid-row: 4;

        .presentation{
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
        }

        #quiz{
            background-image: url(../img/quiz_screen.JPG);
        }

    }
}
p{
    color: $text_main;
    font-family: Consolas, monospace;
    font-size: 1em;    
}
a{
    color: $text_class;
    text-decoration: none;
}

@media screen and (min-width: 641px){
    .main_wrapper{

        .head_content{

            header{                

                .settings{
        
                    .dropdown{
                        margin-top: 0;
                    }
                }                
            }
        }
        #inner_content{

            #mob_menu{

                #menu_bar{

                    .dropdown{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1008px){ 
    .main_wrapper{

        #inner_content{   
            
            #menu_div{
                columns: 1;
                display: flex;
                flex-direction: column;
                margin-top: 1.5em;
        
                .menu_btn{
                    @include remove_default_btn();
                    margin: 0.2em 0;                
                }
        
                .menu_btn:focus{
                    @include btn_focus();
                }
        
                .menu_btn:active{
                    @include btn_active();
                }
        
                .menu_content{
                    display: none;
                }
            }

            #mob_menu{
                display: none;
            }
        }        
    }    
}