* {
  font-family: Consola, monospace;
}

body {
  margin: 0;
  background-color: #1E1E1E;
}

.main_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
  -ms-grid-rows: 2em 1.5em 1fr;
      grid-template-rows: 2em 1.5em 1fr;
}

.main_wrapper .content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 2;
  grid-row: 2;
}

.main_wrapper .content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_wrapper .content header .runner {
  color: #FFFFFF;
}

.main_wrapper .content header .settings {
  cursor: pointer;
}

.main_wrapper .content header .settings img {
  max-height: 1.4em;
  min-width: 1.4em;
}

.main_wrapper .content header .settings .dropdown {
  display: none;
  position: absolute;
  border: 1px solid #FFFFFF;
  z-index: 1;
}

.main_wrapper .content header .settings .dropdown .set_btn {
  height: 2em;
  padding-left: auto;
  padding-right: auto;
  color: #FFFFFF;
  background-color: #1E1E1E;
  border: 1px solid #FFFFFF;
  margin: 0.2em;
  cursor: pointer;
}

.main_wrapper .content header .settings .dropdown .set_btn:focus {
  outline: none;
}

.main_wrapper .content header .settings .dropdown .set_btn:active {
  color: #4EC9B0;
  border: 1px solid #4EC9B0;
}

.main_wrapper .content header .settings .dropdown .set_btn_dark {
  height: 2em;
  padding-left: auto;
  padding-right: auto;
  color: #FFFFFF;
  background-color: #1E1E1E;
  border: 1px solid #FFFFFF;
  margin: 0.2em;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #1E1E1E;
  text-decoration: underline;
  border: 1px solid #FFFFFF;
}

.main_wrapper .content header .settings .dropdown .set_btn_dark:focus {
  outline: none;
}

.main_wrapper .content header .settings .dropdown .set_btn_dark:active {
  color: #4EC9B0;
  border: 1px solid #4EC9B0;
}

.main_wrapper .content header .settings .dropdown .set_btn_light {
  height: 2em;
  padding-left: auto;
  padding-right: auto;
  color: #FFFFFF;
  background-color: #1E1E1E;
  border: 1px solid #FFFFFF;
  margin: 0.2em;
  cursor: pointer;
  color: #1E1E1E;
  background-color: #FFFFFF;
  text-decoration: underline;
  border: 1px solid #1E1E1E;
}

.main_wrapper .content header .settings .dropdown .set_btn_light:focus {
  outline: none;
}

.main_wrapper .content header .settings .dropdown .set_btn_light:active {
  color: #4EC9B0;
  border: 1px solid #4EC9B0;
}

.main_wrapper .content header .settings .dropdown #space {
  height: 1em;
}

.main_wrapper .content header .settings:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_wrapper .content #menu_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5em;
}

.main_wrapper .content #menu_div .menu_btn {
  border: none;
  display: inline-block;
  text-decoration: none;
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-size: 1em;
  text-align: left;
  padding: 0;
  cursor: pointer;
  margin: 0.2em 0;
}

.main_wrapper .content #menu_div .menu_btn:focus {
  outline: none;
}

.main_wrapper .content #menu_div .menu_btn:active {
  color: #4EC9B0;
}

.main_wrapper .content #menu_div .menu_content {
  display: none;
}

p {
  color: #FFFFFF;
  font-family: Consolas, monospace;
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */